.container {
  display: flex;
  flex-direction: column;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-top: 5rem;
}

.landing .imageWrapper {
  height: 60vh;
  width: 60vh;
  flex-shrink: 0;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.landing .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 14vw;
  min-width: 280px;
  padding: 4rem;
  background-color: #fff6e8;
  border-radius: 20px;
  margin-top: 25rem;
  margin-right: -7rem;
}

.landing .content a {
  font-weight: 600;
  color: white;
  background-color: #f0b150;
  width: 9rem;
  padding: 1rem;
  border-radius: 30px;
  text-align: center;
}

.landing .content a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media screen and (max-width: 1150px) {
  .landing {
    flex-direction: column-reverse;
  }

  .landing .content {
    margin-right: 0;
    margin-top: -2rem;
    width: 60vw;
    align-items: center;
    padding: 2rem 2rem;
  }

  .landing .imageWrapper {
    height: 90vw;
    width: 90vw;
  }
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  width: 100%;
}

.services .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 25rem;
  background-color: #fff6e8;
  gap: 1.5rem;
  width: 100%;
}

.services .top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  gap: 4rem;
  width: 70%;
}

.services .btm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  gap: 4rem;
  width: 45%;
  border-top: 2px solid #f0b150;
  margin-top: 5rem;
}

.services .card {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f6f6;
  padding: 3rem;
  border-radius: 20px;
  min-height: 550px;
  gap: 3rem;
}

.services .card .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.services  a {
  font-weight: bold;
  color: white;
  background-color: #f0b150;
  padding: 1.5rem 3rem;
  border-radius: 50px;
  text-align: center;
}

.services a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media screen and (max-width: 1350px) {
  .services .header {
    padding: 2.5rem 5rem;
  }

  .services .top {
    flex-direction: column;
    width: 80%;
    align-items: stretch;
  }

  .services .btm {
    flex-direction: column;
    width: 80%;
    align-items: stretch;
  }
}

.reviews {
  padding: 20rem 0;
}