.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header .nav_bar {
  display: flex;
  gap: 2.5rem;
}

header .nav_item {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

header .nav_item:hover {
  color: grey;
}

.box {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .image_wrapper {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.box .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  width: 300px;
  height: 260px;
  padding: 40px;
  background-color: #FFF6E8;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  margin-right: -50px;
}

.box .content a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  background-color: #F0B150;
  width: 150px;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
}

.box .content a:hover {
  background-color: #eec383;
}

footer .top {
  display: flex;
  height: 60%;
  width: 60%;
  padding-top: 3rem;
  justify-content: space-between;
}

footer .top .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer .top a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  background-color: #F0B150;
  height: 50px;
  width: 150px;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
}

footer .top a:hover {
  background-color: #eec383;
}

footer .btm {
  display: flex;
  height: 20%;
  width: 60%;
  justify-content: space-between;
}

footer .btm .policy{
  padding-top: 1.25rem;
  font-size: 0.75rem;
}

footer .btm .socials{
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 70vw;
  border-top: 2px solid #F0B150;
  font-size: .75rem;
}

@media screen and (max-width: 832px){
  .box {
    flex-direction: column-reverse;
  }

  .box .content {
    margin-right: 0;
    margin-top: -30px;
  }

}