.container {
  display: flex;
  flex-direction: column;
}

.box {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .image_wrapper {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.box .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  width: 300px;
  height: 260px;
  padding: 40px;
  background-color: #fff6e8;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  margin-right: -50px;
}

.box .content a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  background-color: #f0b150;
  width: 150px;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
}

.box .content a:hover {
  background-color: #eec383;
}

@media screen and (max-width: 832px) {
  .box {
    flex-direction: column-reverse;
  }

  .box .content {
    margin-right: 0;
    margin-top: -30px;
  }
}