.container {
  display: flex;
  flex-direction: column;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.services .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 25rem;
  background-color: #fff6e8;
  gap: 1.5rem;
  width: 100%;
}

@media screen and (max-width: 1350px) {
  .services .header {
    padding: 2.5rem 5rem;
  }
}