.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: calc(5rem + 164px);
}

.services .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 25rem;
  background-color: #fff6e8;
  gap: 1.5rem;
  width: 100%;
}

@media screen and (max-width: 1350px) {
  .services {
    padding-top: 108px;
  }

  .services .header {
    padding: 2.5rem 5rem;
  }
}